body {
	margin: 0;
	background-color: #7bbdff; /* was slategrey; */
}
p, h1, tspan {
	margin: 0;
	font-family: sans-serif;
}
h1 {
	margin-bottom: 16px;
	font-weight: normal;
	font-size: 20px;
}
a, .inline-button p {
	cursor: pointer;
	text-decoration: none;
	color: #4783ef;
}
.grid-container {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 10px;
	padding: 0.5vw;
	margin-top: 64px;
}
.grid-item {
	border-radius: 8px;
	background-color: #fff;
}
.grid-item > div {
	padding: 16px;
}
.grid-item-3x1 {
	grid-column-start: 1;
	grid-column-end: 4;
}
.grid-item-2x1 {
	grid-column-start: 1;
	grid-column-end: 3;
}
.inline-button {
	display: inline-block;
	background-color: #efefef;
	border-bottom: 1px solid lightgrey;
	padding: 8px 16px;
	cursor: pointer;
}
#div_prompt input[type='checkbox'], #div_prompt div {
	margin-top: 6px;
}
img[src*="../static/img/remove.png"] {
	filter: opacity(0.5);
}
img[src*="../static/img/remove.png"]:hover {
	filter: opacity(1);
}